@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <h1 class="display-4">Bienvenido al Proyecto ALMACEN</h1>
            <p class="lead">Esta aplicación ha sido construida utilizando ASP.NET MVC y sigue buenas prácticas como el uso de DTOs, Repositorios y AutoMapper.</p>
            <p class="lead">Explora la sección de Productos para gestionar y visualizar información sobre productos.</p>
        </div>
    </div>
</div>

<div class="container text-center mt-5">
    <h1 class="display-4">Proyecto Final</h1>
    <p class="lead">Desarrollo Backend 2023 - Sandonis Ezequiel</p>
    <p class="lead">MODELO DE TIENDA/ALMACEN</p>
</div>
